.footer {
  text-align: center;
  background-color: #161619;
  width: 100%;
}

.footer > a {
  color: #918e9b;
  font-size: 45px;
  margin-left: 40px;
}

.footer > a > i {
  margin-top: 10px;
}

@media only screen and (max-width: 1030px) {
  .footer > a {
    font-size: 30px;
    margin: 0 20px;
  }
}
